.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background: #232323;
    color: white;
    padding: 1rem;
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

.skip-link:focus {
    transform: translateY(0);
}
